<mat-card>
    <mat-card-header>
        <mat-card-title>Necessary Weapons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-categorized-inputs
            [categorizedItems]="categorizedWeapons"
            [stock]="weapons"
            (stockChange)="updateWeapons($event.itemId, $event.newStock)"
        ></app-categorized-inputs>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="clearWeapons()">CLEAR</button>
    </mat-card-actions>
</mat-card>

